<h6 class="card-header" style="text-align: center">use the slider to select the amount to be sorted</h6>
<div class="controls-container">
  <div class="slider-container">
    <h6>Number of elements</h6>
<input type="range" class="custom-range slider" min="20" max="200" id="ArraySize"
       (change)="setArraySize($event.target.value);generateRandomNumberArray(100,sizeOfArray)">
  </div>
  <div class="slider-container">
    <h6>Iteration speed</h6>
    <input type="range" class="custom-range slider" min="10" max="500" id="iterationSpeed"
           (change)="setIterationSpeed($event.target.value)">
  </div>
<select class="custom-select selector" name="sort type"
        (change)="setSortType($event.target.value);generateRandomNumberArray(100,sizeOfArray);stopSort();">
  <option value="Quick Sort">Quick Sort</option>
  <option value="Bubble Sort">Bubble Sort</option>
  <option value="Merge Sort">Merge Sort</option>
  <option value="Selection Sort">Selection Sort</option>
</select>
<button class="btn btn-primary" id="sortButton" (click)="sort(randomNumberArray)">Sort</button>
</div>
<div id="bar-container" class="bar-container">
  <div *ngFor="let i of randomNumberArray; index as index">
    <div id="{{index}}" class="bar" [style.height.%] ="i" [style.width.vw]="50/sizeOfArray"></div>
  </div>
</div>
