<div class="controls-container">
  <div class="slider-container">
    <h6>Number of elements</h6>
<input type="number" value="20" class="custom-range slider form-control" min="10" max="200" id="ArraySize"
       (change)="$event.target.value =$event.target.value > 200 ? 200 : $event.target.value;setArraySize($event.target.value);generateRandomNumberArray(100,sizeOfArray)">
  </div>
  <div class="slider-container">
    <h6>Iteration speed (ms)</h6>
    <input type="number" class="custom-range slider form-control" value="50" min="10" max="10000" id="iterationSpeed"
           (change)="$event.target.value =$event.target.value < 10 ? 10 : $event.target.value; setIterationSpeed($event.target.value)">
  </div>
<select class="custom-select selector" name="sort type"
        (change)="setSortType($event.target.value);generateRandomNumberArray(100,sizeOfArray);stopSort();">
  <option value="Merge Sort">Merge Sort</option>
  <option value="Selection Sort">Selection Sort</option>
  <option value="Quick Sort">Quick Sort</option>
  <option value="Bubble Sort">Bubble Sort</option>
</select>
<button class="btn btn-primary" id="sortButton" (click)="sort(randomNumberArray)">Sort</button>
</div>
<div id="bar-container" class="bar-container">
  <div *ngFor="let i of randomNumberArray; index as index">
    <div id="{{index}}" class="bar" [style.height.%] ="i" [style.width.vw]="50/sizeOfArray"></div>
  </div>
</div>
<h3 class="text-center mt-2" >{{processText}}</h3>
